body {
  background: #ececec;
  color: #333;
  font-family: Helvetica Neue, 'Roboto', sans-serif;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}
div, header {
  box-sizing: border-box;
}
#header {
  align-items: center;
  background: #f7f7f7;
  box-shadow: 0 2px 1px 0 rgba(102, 93, 93, .15);
  display: flex;
  justify-content: center;
  margin: 0 -10px;
  padding: 15px;
}
#header figure {
  overflow: hidden;
  border-radius: 5px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.btn {
  background-color: #7fb959;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin: 0 10px;
  padding: 6px 11px;
}

.start-button {
  cursor: pointer;
  display: none;
  font-size: 22px;
  margin: 35px auto;
}
.body--untouched .start-button {
  display: block;
}
.body--untouched #content {
  display: none;
}
#content {
  display: block;
}
.generate-notif {
  margin-top: 20px;
  text-align: left;
}
.generate-notif--hidden {
  display: none;
}
table {
  font-size: 15px;
}
textarea {
  resize: none;
}
