<html>
<head>
  <title>NotifyParrot</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"/>
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
  <meta name="theme-color" content="#ffffff"/>
  <link href="/style.css" rel="stylesheet"/>
</head>
<body class="body--untouched">
  <header id="header">
    <div style="margin-right: auto; width: 300px; text-align: left;">
      <figure style="margin: 0 15px 0 0; display: inline;">
        <img src="/apple-icon-57x57.png" alt="" style="vertical-align: middle;"/>
      </figure>
      <h1 style="font-size: 17px; display: inline;">NotifyParrot</h1>
    </div>

    <div style="margin-left: auto;">
      <button class="btn" onclick="generateNotif();" style="cursor: pointer;">Generate token</button>
    </div>
  </header>

  <div id="generate-notif" class="generate-notif generate-notif--hidden">
    <div class="container" style="background: #fff; padding: 16px 15px;">
      <div style="text-align: right;">
        <button style="background: transparent; border: 0; color: #7fb959; cursor: pointer; width: 40px; height: 40px; line-height: 40px;text-align: center;margin: -15px -15px 0 0;">X</button>
      </div>
      <table style="border-collapse: collapse; width: 100%;">
        <tr>
          <td style="width: 1%; padding: 5px 10px 5px 0;">Token:</td>
          <td><input id="token" onClick="this.select();" style="width: 100%;" type="text" readonly="readonly"/></td>
        </tr>
        <tr>
          <td style="width: 1%; padding: 5px 10px 5px 0;">Message:</td>
          <td><input id="message-input" style="width: 100%;" type="text" onkeyup="updateScriptTextarea(this.value, document.getElementById('lang').value); document.getElementById('test-button').style.display = (this.value !== '') ? 'inline' : 'none';"/></td>
        </tr>
        <tr>
          <td style="width: 1%; padding: 5px 10px 5px 0;">Language:</td>
          <td>
            <select id="lang" onchange="updateScriptTextarea(document.getElementById('message-input').value, this.value)">
              <option value="en-US">en-US</option>
              <option value="es-ES">es-ES</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="width: 1%; padding: 5px 10px 5px 0;">Code: (Node)</td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 5px 0;overflow: hidden;">
            <textarea id="codeNode" style="width: 100%; height: 80px;" onClick="this.select();" readonly="readonly"></textarea>
          </td>
        </tr>
      </table>
      <div style="text-align: center;margin-top: 10px;">
        <button class="btn" onclick="window.location.href='/getnotificationfile?message=' + document.getElementById('message-input').value + '&lang=' + document.getElementById('lang').value + '&jwt=' + token">Download as file</button>
        <button class="btn" id="test-button" onclick="
          var testMessage = document.getElementById('message-input').value;
          if (testMessage === '') testMessage = '';
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open('POST', '/notify', true);
          xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xmlHttp.setRequestHeader('Authorization', 'Bearer ' + token);
          xmlHttp.send('message=' + testMessage + '&lang=' + document.getElementById('lang').value);
        " style="display: none;">Test</button>
      </div>
    </div>
  </div>

  <button class="btn start-button" onclick="document.body.classList.remove('body--untouched');">Click to start</button>
  <div id="content" class="container">
    <div style="text-align: left;">
      <p>Status: <strong style="color: #7fb959;">listening</strong>.</p>

<pre id="output" style="padding: 20px 20px;background: #fff;max-width: 100%;">
Notifications:
</pre>
    </div>
  </div>

  <small style="position: absolute; bottom: 7px; left: 0; width: 100%;">Author patricio.pitaluga@gmail.com. Photo by Shannon Kunkle on Unsplash</small>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/script.js"></script>
</body>
</html>
